/* 
	Resets defualt browser settings
	reset.css
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	list-style:none;
}

h1
{
	font-size: 2em;
}

:focus
{
	outline:0;
}

a:active
{
	outline:none;
}

a,a:link
{
	text-decoration:none;
	color:#434343;
}

a:hover,a:active
{
	color:#599100;
	text-decoration:none;
}

body
{
	line-height:1;
	color:#000;
	background:#FFF;
}

ol,ul
{
	list-style:none;
}

table
{
	border-collapse:separate;
	border-spacing:0;
}

caption,th,td
{
	text-align:left;
	font-weight:400;
}

blockquote:before,blockquote:after,q:before,q:after
{
	content:"";
}

blockquote,q
{
	quotes:;
}

@font-face
{
	font-family:MonacoRegular;
	src:url(monaco-webfont.eot);
	src:url(monaco-webfont.eot?#iefix) format(embedded-opentype), url(monaco-webfont.woff) format(woff), url(monaco-webfont.ttf) format(truetype), url(monaco-webfont.svg#MonacoRegular) format(svg);
	font-weight:400;
	font-style:normal;
}

body
{
	font:normal 10px/1.5 MonacoRegular,"Microsoft Yahei",Tahoma, Helvetica, Arial, SimSun, sans-serif;
	letter-spacing:0;
	color:#434343;
	background:#efefef url(../img/background.png) repeat top center;
	position:relative;
	-webkit-font-smoothing:subpixel-antialiased;
	text-shadow:#555 0 0 1px;
}

.left
{
	float:left;
	width:730px;
	height:643px;
}

.right
{
	float:right;
}

.opacity
{
	opacity:0.5
}

#top
{
	width:200px;
	height:100px;
	margin:17px;
	float:left;
	padding-top:180px;
	text-align:center;
	border:3px solid #aaa;
	border-radius:20px;
	background:url(../img/back.png) no-repeat 50% 10%;	
	z-index:98;
	position:fixed;
	top:30%;
	left:67.7%;
	overflow:hidden;
	text-align:center;
	display:none;
}

#top p 
{
	line-height:30px;
}

#container
{
	width:960px;
	margin:0 auto;
	position:relative;
	z-index:0;
}

#welcome
{
	width:960px;
	height:650px;
}

.part
{
	width:200px;
	height:100px;
	margin:17px;
	float:left;
	padding-top:180px;
	text-align:center;
	border:3px solid #aaa;
	border-radius:20px;
}

.part:hover,#top:hover
{
	transition:border linear .2s,box-shadow linear .5s;
	-moz-transition:border linear .2s,-moz-box-shadow linear .5s;
	-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
	outline:none;
	border-color:rgba(255,153,0,.75);
	box-shadow:0 0 8px rgba(255,153,0,.5);
	-moz-box-shadow:0 0 8px rgba(255,153,0,.5);
	-webkit-box-shadow:0 0 8px rgba(255,153,0,3);	
}

.part p 
{
	line-height:30px;
}

#me
{
	background:url(../img/me.png) no-repeat 50% 10%;
}

#blog
{
	background:url(../img/blog.png) no-repeat 50% 10%;
}

#email
{
	background:url(../img/email.png) no-repeat 50% 10%;
}

#lab
{
	background:url(../img/lab.png) no-repeat 50% 10%;
}

#resume
{
	background:url(../img/resume.png) no-repeat 50% 10%;
}

#search
{
	background:url(../img/search.png) no-repeat 50% 10%;
}

#card
{
	background:url(../img/card.png) no-repeat 50% 10%;	
}

#site
{
	background:url(../img/site.png) no-repeat 50% 10%;	
}

#enter
{
	background:url(../img/wp.png) no-repeat 50% 10%;
}

#rss
{
	background:url(../img/rss.png) no-repeat 50% 10%;
}

#qq
{
	background:url(../img/qq.png) no-repeat 50% 10%;	
}

#ali
{
	background:url(../img/ali.png) no-repeat 50% 10%;	
}

#gtalk
{
	background:url(../img/gtalk.png) no-repeat 50% 10%;	
}

#google
{
	background:url(../img/g+.png) no-repeat 50% 10%;		
}

#facebook
{
	background:url(../img/facebook.png) no-repeat 50% 10%;		
}

#twitter
{
	background:url(../img/twitter.png) no-repeat 50% 10%;		
}

#flickr
{
	background:url(../img/flickr.png) no-repeat 50% 10%;		
}

#other
{
	width:960px;
}

#other h2 
{
	font-size: 1.8em;
	color:#0085E4;
	text-shadow:#0085E4 0 0 1px;
	padding-bottom:20px;
}

#other h3 
{
	font-size: 1.5em;
	color:#9600ff;
	text-shadow:#9600ff 0 0 1px;
	border-left-color:#f90;
	border-left-style:solid;
	border-left-width:3px;	
	padding-left:0.98em;
	padding:10px;	
}

#desc p
{
	font-size: 1.0em;
	line-height:50px;
	padding-left:20px;
}